@import "tailwindcss";

@plugin "daisyui";



@plugin "daisyui/theme" {
    name: "jharkhand-tourism";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.005 140);
    --color-base-200: oklch(95% 0.01 140);
    --color-base-300: oklch(88% 0.015 140);
    --color-base-content: oklch(22% 0.015 140);
    --color-primary: oklch(52% 0.19 145);
    --color-primary-content: oklch(98% 0.02 145);
    --color-secondary: oklch(65% 0.18 45);
    --color-secondary-content: oklch(20% 0.05 45);
    --color-accent: oklch(58% 0.16 35);
    --color-accent-content: oklch(98% 0.01 35);
    --color-neutral: oklch(38% 0.015 240);
    --color-neutral-content: oklch(98% 0.01 240);
    --color-info: oklch(68% 0.14 240);
    --color-info-content: oklch(20% 0.05 240);
    --color-success: oklch(62% 0.18 145);
    --color-success-content: oklch(20% 0.05 145);
    --color-warning: oklch(76% 0.16 85);
    --color-warning-content: oklch(25% 0.08 85);
    --color-error: oklch(60% 0.20 25);
    --color-error-content: oklch(98% 0.01 0);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
:root {font-family: 'Google Sans', 'Helvetica Neue','sans-serif'}